 *{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;

 }
 
 body{background-color: rgb(131, 29, 54);
}

#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 5px 10px salmon; 
    border: 1px solid rgb(206, 38, 164);
    background-color: rgb(170, 159, 180);
}

#header {
     height: 145px;
     background-color: rgb(180, 76, 228);
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;

}
#logo img{
    float: left;
    height: 100px;
}

#logo a{

float:left ;
font-size:40px ;
letter-spacing:4px ;
text-transform: uppercase;
color: blueviolet;
font-weight: bold;
text-decoration: none;
margin-top: 18px;
margin-left : 25px;
text-shadow: 0px 2px 1px cadetblue;
transition: all 300ms;
} 
#logo a:hover{
    text-shadow: 0px 2px 1px; color: blue, 0px 0px 4px cadetblue;
}
/* Menu */
#menu{
    clear: both;
    background: #e01818;
    color: black;
    height: 80px;
    border-bottom: 4px solid #01b; 

}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;

}

#menu a{
    display: block;
    color: white;
    text-decoration:none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;


}
#menu a:first-child{
    border-left: 1px solid #01b;

}
#menu a:hover{
background: #363636;
}
#content{
    margin: 0px auto;
    overflow:hidden ;
    background: pink;
    border: black;
}
#lateral{
    width: 20%;
    min-height: 600px;
    border: 4px solid blue;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid blueviolet;

}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 2px solid green;
}

