 *{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

 }
 
 body{background-color: aqua;
}

#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 5px 10px salmon; 
    border: 1px solid red;
}